@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bannerbackground {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
}

.bordercolor {
  border-color: rgb(201, 76, 76);
  border-style: solid;
  border-radius: 2px;
}

.buttonbackground {
  background-color: rgb(255, 65, 65);
}

.searchBackground {
  background-color: rgb(255, 205, 205);
}

.swal-icon img {
  max-width: 40%;
  width: 40%;
  height: auto; /* vary this to your needs ie auto, 100%, etc */
  margin: 0 auto;
}
